.navbar-brand{
    margin-left: 10%;
    float: right;
    
 
}
.portfolio{
  text-align: center
}
  .navbar-nav{
      margin-left: 70%;
      
     opacity: 80%;
     padding: 12px;
     z-index: 10;

     
     
    
      
      
  }
  .griy{
    border-color: black;
    border-width: 1px;
    border-style: solid
  }
  .navbar{
    margin-bottom: 15px
  }
  #logo {
    
  }
  .input {
    background-color: black;
    color: whitesmoke
  }
  .white-space{
    visibility: hidden
  }

  .social-media-list a {
    font-size: 2em;
    
    list-style: none
  }
 
  a:hover{
    font-style: normal
  }
  .description{
    font-size: 20px
  }
  .projects{
    display: block;
    height: 350px;
    width: 100%;
    border: 1px black solid;
    margin-top: 15px;
    margin-bottom: 5px
  }
  .afterBio{
    border-width: 2px
  }
  .navbar{
    max-height: 50px;
    z-index: 10;
    position:fixed
  }
  .topper{
    height: 100px
  }
  .slide-in-left {
    -webkit-animation: slide-in-left .75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left .75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .slide-in-right {
    -webkit-animation: slide-in-right .75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right .75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .yes{
    background: url(images/slc.png);
    background-repeat: no-repeat;
   
    background-size: 95% 90%;
    margin-left: 5%;
    filter: brightness(65%);
    z-index: -1;
     height: 500px;
     animation-name: yes;
     animation-duration: 1.5s
  }
  .name{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgba(240, 240, 240, 0.952);
    text-align: center;
    
    
    opacity: .9 }

  .stats{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(240, 240, 240, 0.952);
    text-align: center;
    opacity: .9
    
    
  }
  .pre{
    font-size: 18px;
    text-align: center
  }
  .animated-icon1, .animated-icon3, .animated-icon4 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon3 span, .animated-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
      background: #464444;
  }
  .tracking-in-contract {
    -webkit-animation: tracking-in-contract 1.25s cubic-bezier(0.125,  0.610, 0.355, 1.000) both;
            animation: tracking-in-contract 1.25s cubic-bezier(0.125,  0.610, 0.355, 1.000) both;
            
  }
 
  
  .animated-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
    top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
    top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    right: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  #about{
    text-align: center;
}
  /* Icon 3*/
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: .9;
    }
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: .9;
    }
  }
  
  @keyframes yes {
    0% {
      filter: brightness(100%)
    }
    60%{
      filter: brightness(80%)
      
    }
    100%{
      filter:brightness(65%)
    }
  }
  
  @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: normal;
      opacity: 0.9;
      filter: brightness(100%)
    }
    
    
  }

  
 @media screen and (max-width: 550px){
   .yes{
     background-size: 100% 90% ;
     height: 450px;
     margin-left: 2.5%;
     margin-right: 2.5%
     
   }
   .projects{
     height: 200px
   }
   .topper{
     height: 60px
   }
   .name{
     font-size: 18px
   }
   .navbar-nav{
    /* background-color: rgba(212, 199, 199, 0.952);*/
     opacity: 0.8;
     margin-left: 85%;
     
     width: 76px
   }
 }
  